<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include('base.ejs'); %>
    <div id="box"> 
        <% if (produtos && produtos.length >0){%>
        <% for(let i=0; i<produtos.length; i++) {%>
            
        <a href="/paginaProduto" onclick="document.getElementById('formulario<%=i%>').submit(); return false">
            <form id="formulario<%=i%>" action="/paginaProduto" method="post">
            <div class="produto">
                <img class="imagem-produto" src=<%=produtos[i].img %> alt="Produto">
                <div class="info">
                    <p class="nome-produto"><%= produtos[i].titulo %></p>
                    <p class="preco"> R$ <%= produtos[i].precos %></p>
                </div>
                <button class="comprar-btn">COMPRAR</button>
            </div>
            <input type="hidden" name="img" value="<%=produtos[i].img%>">
            <input type="hidden" name="titulo" value="<%=produtos[i].titulo%>">
            <input type="hidden" name="precos" value="<%=produtos[i].precos%>">
        </form>
        </a>
        <%} } %>
    </div>
    
</body>

</html>