<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include('base.ejs'); %>

    <div id="container-produto">
        <div id="produto-lado-esquerdo">
            <div>
                <img class="img-pag-produto" src="<%= produtos.img %>" alt="" width="400" height="400">
            </div>
        </div>
        <div id="produto-lado-direito">
            <div>
                <h2 class="titulo-pag-produto">
                    <%= produtos.titulo%>
                </h2>
            </div>
            <div id="tamanhos">
                <p>Tamanho desejado</p>
                <button id="btn1" class="btn-tam" onclick="tamanhosBot('btn1')"> 50cm </button>
                <button id="btn2" class="btn-tam" onclick="tamanhosBot('btn2')"> 60cm </button>
                <button id="btn3" class="btn-tam" onclick="tamanhosBot('btn3')"> 70cm </button>
            </div>
            <div id="comprar">
                <h3>R$ <span class="precos-pag-produto">
                        <%=produtos.precos%>
                    </span> no Pix</h3>
                <p> Ou 3x de R$ <%= (produtos.precos/3).toFixed(2) %>
                </p>
                <button type="submit" class="comprar-pag-produto" onclick="document.getElementById('form-enviar-carrinho').submit()">Adicionar ao Carrinho</button>
            </div>
            <div id="cep">
                <p>Digite seu CEP</p>

                <input type="tel">
                <button>Calcular</button>
            </div>
        </div>
    </div>
    <form action="adicionar-carrinho" method="post" id="form-enviar-carrinho">
        <input type="hidden" name="img" value="<%=produtos.img%>">
        <input type="hidden" name="titulo" value="<%=produtos.titulo%>">
        <input type="hidden" name="precos" value="<%=produtos.precos%>">
    </form>
</body>

</html>